body {
    background-color: cornsilk;
}
h1 {
    color: blue;
    font-family: Helvetica ;
}

p {
    color: red;
    background-color: yellow;
}
#capital-letter {
    font-size: 20px;
    font-weight: bold;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid rgba(210, 100, 36, 0.865);
}